*{
    padding: 0;
    margin: 0;
}

/* header */
header{
    background-image: url("../img/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
    width: 80%;
    margin: auto;
}
.logo{
    float:left ;
    margin-left: 30px;
}
.contact-us{
    float: right;
    margin-right: 30px;
}
/* sub header */
.sub-header{
    margin-top: 30px;
}
.invoice5{
    float: left;
    margin-left:150px ;
}
.invoice-data{
    float: right;
    margin-right: 150px;
    
}
/* hero */
.hero-content{
    color:blue;
       margin-top: 80px;   
}
.container1{
    float: left;
     
}
.container2{
    float: right;
     margin-bottom: 30px;
}
/* table */

table{
    margin-top: 80px;
    width: 80%;
    margin: auto;
     border-collapse: collapse; 
}
.t-heading{
    background-color: cornflowerblue;
    height: 40px;
}
tr{
    height: 40px;
    border-collapse: collapse;
    border: 1px solid gray;
    text-align: left;
    
}
/* notice */
.notice{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* footer */
footer{
    margin-top: 30px;
    background-image: url("../img/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 85%;
    margin: auto;
}
.footer-content1{
    float: right;
    margin-right: 20px;
}
.footer-content2{
    float: left;
    margin-left: 20px;
}